.object-grid
    margin: $margin-normal calc($margin-small - $gap-normal) 0 $margin-small
    display: flex
    flex-wrap: wrap
    gap: $gap-normal

.object-card
    flex-basis: calc(33.333% - $gap-normal)
    position: relative
    cursor: pointer

.object-card_hidden
    display: none
    
.object-card__image
    width: 100%
    height: 100%
    user-drag: none
    user-select: none
    
.object-card__info
    width: 100%
    height: 100%
    opacity: 0
    position: absolute
    background: rgba($color-bg, 0.9)
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    font-style: normal
    font-weight: 500
    font-size: 16px
    text-align: center
    transition: opacity 0.1s
    
.object-card__info:hover
    opacity: 1

.object-card__brand
    font-size: 19px
    color: $color-font-active
    
.object-card__name
    max-width: 400px
