$color-bg: #FFF
$color-font: #000
$color-font-active: #D90F19
$color-logo: #F42121

$margin-normal: 4vh // 32px for 1440x800 screen
$margin-small: 3vh // 24px for 1440x800 screen
$margin-petite: 1vh // 8px for 1440x800 screen
$gap-normal: 2vh // 16px for 1440x800 screen
$gap-small: 0.5vh // 4px for 1440x800 screen
