.filters-tab
    width: 100%
    display: flex
    justify-content: center
    margin-top: 4vh // 32px for a 1440x800
    z-index: 9000

.filters-tab_position_sticky
    position: sticky
    top: 4vh // 32px for a 1440x800

.filters-tab__filters
    display: flex
    gap: 16px
