.filters-tab
    width: 100%
    display: flex
    justify-content: center
    margin-top: 32px
    z-index: 9000

.filters-tab_position_sticky
    position: sticky
    top: 32px

.filters-tab__filters
    display: flex
    gap: 16px
