@import './utils/vars.sass'
@import './components/Button/styles.sass'
@import './components/Anchor/styles.sass'
@import './components/Loader/styles.sass'
@import './components/Footer/styles.sass'
@import './components/Header/styles.sass'
@import './components/FiltersTab/styles.sass'
@import './components/ObjectGrid/styles.sass'
@import './components/FormModal/styles.sass'

@import './pages/Home/styles.sass'
@import './pages/About/styles.sass'
@import './pages/Object/styles.sass'
@import './pages/NotFound/styles.sass'
@import './pages/ServerError/styles.sass'
@import './pages/Admin/styles.sass'
@import './pages/AdminEdit/styles.sass'

html
    scroll-behavior: smooth
    --margin-normal: calc(4 * var(--doc-height) / 100)
    --margin-small: calc(3 * var(--doc-height) / 100)
    --margin-petite: calc(1 * var(--doc-height) / 100)
    --gap-normal: calc(2 * var(--doc-height) / 100)
    --gap-small: calc(0.5 * var(--doc-height) / 100)
    @media screen and (max-width: $breakpoint-tablet) // tablet
        --margin-normal: 16px
        --margin-small: 12px
        --margin-petite: 4px
        --gap-normal: 8px
        --gap-small: 2px
    @media screen and (max-width: $breakpoint-phone) // phone
        --margin-normal: 16px
        --margin-small: 12px
        --margin-petite: 4px
        --gap-normal: 8px
        --gap-small: 2px

body
    padding: var(--margin-normal) var(--margin-normal) 0 var(--margin-normal)
    background: $color-bg

.∀-fix
    font-family: 'CoFo Sans ∀', Arial, sans-serif !important

.app
    display: flex
    flex-direction: column
    align-items: center

div#root
    font-family: 'CoFo Sans', Arial, sans-serif
    -webkit-font-smoothing: antialiased

svg
    -webkit-transform: translate3d(0,0,0)

.skeleton-box
    height: 20px
    margin: 2px 0
    overflow: hidden
    background-color: $color-skeleton
    border-radius: 2px
    position: relative
    &::after
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        transform: translateX(-100%)
        background-image: linear-gradient( 90deg, rgba(#fff, 0) 0, rgba(#fff, 0.2) 20%, rgba(#fff, 0.5) 60%, rgba(#fff, 0))
        animation: shimmer 2s infinite
        content: ''

.skeleton-image
    background-color: $color-skeleton
    border-radius: 2px
    aspect-ratio: 1 / 1
    flex-basis: 50%
    overflow: hidden
    position: relative
    &::after
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        transform: translateX(-100%)
        background-image: linear-gradient( 90deg, rgba(#fff, 0) 0, rgba(#fff, 0.2) 20%, rgba(#fff, 0.5) 60%, rgba(#fff, 0))
        animation: shimmer 2s infinite
        content: ''

@keyframes shimmer
    100%
        transform: translateX(100%)

.image_visibility_hidden
    visibility: hidden
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

*::selection
    color: $color-bg
    background-color: $color-font-active

/* Customized scrollbar like Mac OS */

/* total width */
*::-webkit-scrollbar
    background-color: #fff
    width: 16px

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track
    background-color: #fff

*::-webkit-scrollbar-track:hover
    background-color: #f4f4f4

/* scrollbar itself */
*::-webkit-scrollbar-thumb
    background-color: #babac0
    border-radius: 16px
    border: 5px solid #fff

*::-webkit-scrollbar-thumb:hover
    background-color: #a0a0a5
    border: 4px solid #f4f4f4

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button
    display: none
