@import './assets/fonts/fonts.css'
@import './components/Button/styles.sass'
@import './components/Loader/styles.sass'

h1
    color: red
    background: black

body
    margin: 32px

div#root
    font-family: 'CoFo Sans'
