@import './utils/vars.sass'
@import './components/Button/styles.sass'
@import './components/Anchor/styles.sass'
@import './components/Loader/styles.sass'
@import './components/Footer/styles.sass'

h1
    color: red
    background: black

body
    margin: 32px

div#root
    font-family: 'CoFo Sans'
